
@{
    ViewBag.Title = "AddPicture";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="container">
    <div class="row customRow">
        <div class="col-md-3 form-group">
            <input type="file" class="form-control addFile" />
        </div>
    </div>
    <div class="row" style="margin-left: 10px">
        <div class="form-group">
            <span class="glyphicon glyphicon-plus" aria-hidden="true" style="font-size: 20px; cursor: pointer;" id="addPictureForm"></span>
        </div>
    </div>
    <div class="row" style="margin-left: 10px; margin-top:20px">
        <button class="btn btn-success" id="upload" type="submit">ატვირთვა</button>
    </div>
</div>

