
@{
    ViewBag.Title = "Photographer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="mt-5 pt-5">
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-3 col-md-4 col-sm-5">
                <div class="internal-img">
                    <img src="/Content/img/cake/12.jpg" alt="">
                    <h2> elene datashvili</h2>

                    <span class="count-icon">

                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <img src="/Content/img/comment.png">
                        <span class="count">3</span>
                    </span>

                </div>
            </div>

            <div class="col-lg-9 col-md-8 col-sm-7 align-self-end mb-5">
                <div class="internal-info">



                    <div class="social-info d-inline-flex">
                        <i class="fa fa-info" aria-hidden="true"></i>
                        <p class="pl-3">
                            Career Information. A photographer records events and tells stories using images. He or she takes pictures of people, places,
                            events, and objects. Photographers often specialize in a type of photography.
                        </p>
                    </div>

                    <div class="social-info">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <p>
                            599 45 67 89
                        </p>
                    </div>

                    <div class="social-info">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        <p>
                            weddinplan@geolab.edu.ge
                        </p>
                    </div>


                    <span class="social-info">
                        <i class="fa fa-share-alt" aria-hidden="true"></i>
                    </span>

                    <a class="social-icon social-icon2 pl-2" href="#">
                        <img src="/Content/img/svg/facebook.svg" alt="facebook">
                    </a>

                    <a class="social-icon social-icon2" href="#">
                        <img src="/Content/img/svg/instagram.svg" alt="instagram">
                    </a>




                </div>
            </div>

        </div>
    </div>
</section>

<section>
    <div class="container-fluid">

        <div class="photog-txt">
            <h2 class="col-12 text-left">
                portfolio
                <hr align="left" width="50%" class="inter-line">
            </h2>
        </div>


        <div class="row internal-portfolio">
            <div class="col-lg-3 col-md-3 col-sm-6">
                <a href="/Content/img/bride.jpg" data-fancybox="images">
                    <div style="background-image: url(/Content/img/bride.jpg)" class="isotope-img mb-3 rounded"></div>
                </a>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6">
                <a href="/Content/img/sunset.jpg" data-fancybox="images">
                    <div style="background-image: url(/Content/img/sunset.jpg)" class="isotope-img mb-3 rounded"></div>
                </a>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6">
                <a href="/Content/img/swing.jpg" data-fancybox="images">
                    <div style="background-image: url(/Content/img/swing.jpg)" class="isotope-img mb-3 rounded"></div>
                </a>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6">
                <a href="/Content/img/we.jpg" data-fancybox="images">
                    <div style="background-image: url(/Content/img/we.jpg)" class="isotope-img mb-3 rounded"></div>
                </a>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6">
                <a href="/Content/img/swing.jpg" data-fancybox="images">
                    <div style="background-image: url(/Content/img/swing.jpg)" class="isotope-img mb-3 rounded"></div>
                </a>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6">
                <a href="/Content/img/we.jpg" data-fancybox="images">
                    <div style="background-image: url(/Content/img/we.jpg)" class="isotope-img mb-3 rounded"></div>
                </a>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6">
                <a href="/Content/img/sunset.jpg" data-fancybox="images">
                    <div style="background-image: url(/Content/img/sunset.jpg)" class="isotope-img mb-3 rounded"></div>
                </a>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6">
                <a href="/Content/img/bride.jpg" data-fancybox="images">
                    <div style="background-image: url(/Content/img/bride.jpg)" class="isotope-img mb-3 rounded"></div>
                </a>
            </div>
        </div>

    </div>
</section>

