
@font-face {
  font-family: 'ShadedLarchPERSONALUSEONLY';
  src: url('ShadedLarchPERSONALUSEONLY.eot?#iefix') format('embedded-opentype'),  
  url('ShadedLarchPERSONALUSEONLY.woff') format('woff'), 
  url('ShadedLarchPERSONALUSEONLY.ttf')  format('truetype'), 
  url('ShadedLarchPERSONALUSEONLY.svg#ShadedLarchPERSONALUSEONLY') format('svg');
  font-weight: normal;
  font-style: normal;
}
