
@font-face {
  font-family: 'ArialMT';
  src: url('ArialMT.eot?#iefix') format('embedded-opentype'),  
  url('ArialMT.woff') format('woff'), 
  url('ArialMT.ttf')  format('truetype'), 
  url('ArialMT.svg#ArialMT') format('svg');
  font-weight: normal;
  font-style: normal;
}
